// Importation des variables.
@use 'variables' as *;

//layout CSS - base/layout.scss

/* Gère les conteneurs droit et gauche et les séparations et espacement. */


// Base layout
.layout {
  display: flex;
  height: 0;
}

/* Conteneur principal */
.main-content {
  position:relative;
  margin-left: 30%;
  width: 70%;
  padding: 2rem;
  overflow-y: auto;
  margin-top: -200vh;
  background-color: $color-primary;
}

/* Cadre principal (conteneur externe) */
.outer-frame {
  border: 4px solid $color-accent-darkorange; /* Couleur et taille de la bordure externe */
  border-radius: 15px; /* Coins arrondis */
  padding: 2%; /* Espacement interne */
  background: $color-lightgrey; /* Couleur de fond du cadre externe */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Ombre subtile */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animation fluide */

  &:hover {
    transform: scale(1.05); /* Légère mise en avant */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Ombre amplifiée */
  }
}

/* Cadre interne */
.inner-frame {
  border: 2px solid $color-neutral-gold; /* Couleur et taille de la bordure interne */
  border-radius: 10px; /* Coins arrondis */
  padding: 1.5%; /* Espacement interne */
  background: $color-primary; /* Couleur de fond du cadre interne */
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre interne */

  &:hover {
    transform: scale(1.02); /* Légère mise en avant du cadre interne */
    border-color: $color-accent-darkorange; /* Changement de couleur de bordure */
  }
}

.registration-wrapper {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  height: 100%; /* Prend la hauteur disponible du parent */
  width: 100%; /* Prend toute la largeur disponible */
}

/* Cadre principal (conteneur externe) */
.outer-frame-registration {
  border: 4px solid $color-accent-darkorange; /* Couleur et taille de la bordure externe */
  border-radius: 20px; /* Coins arrondis */

  width: 50%;
  padding: 2%; /* Espacement interne */
  background: $color-lightgrey; /* Couleur de fond du cadre externe */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Ombre subtile */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animation fluide */

  &:hover {
    transform: scale(1.05); /* Légère mise en avant */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Ombre amplifiée */
  }
}

/* Cadre interne */
.inner-frame-registration {
  border: 2px solid $color-neutral-gold; /* Couleur et taille de la bordure interne */
  border-radius: 15px; /* Coins arrondis */
  padding: 1.5%;
  background: $color-primary; /* Couleur de fond du cadre interne */
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre interne */

  &:hover {
    transform: scale(1.02); /* Légère mise en avant du cadre interne */
    border-color: $color-accent-darkorange; /* Changement de couleur de bordure */
  }
}

// Separations
@mixin separator($width, $margin) {
  width: $width;
  margin: $margin;
  border-bottom: 3px solid $color-neutral-gold;
}

.separation1 {
  @include separator(90%, 0 auto);
}

.separation2 {
  @include separator(80%, auto);
}

.space {
  height: 10vh;
}

.space2 {
  height: 5vh;
}

/* Media Queries pour la Responsivité */

/* Mobile - Portrait (max-width: 599px) */
@media (max-width: 599px) {
  .layout {
    flex-direction: column; /* Afficher la mise en page en colonne */
    height: 10vh;
  }

  .main-content {
    margin-left: 0;
    width: 100%;
    top: 0;
  }

  .outer-frame, .inner-frame {
    padding: 5%;
    width: 100%;
  }

  .outer-frame-registration {
    width: 80%;
  }
}

/* Mobile - Paysage (min-width: 600px et max-width: 899px) */
@media (min-width: 600px) and (max-width: 899px) {
  .layout {
    flex-direction: column; /* Afficher la mise en page en colonne */
    height: 30vh;
  }

  .main-content {
    margin-left: 0;
    width: 100%;
    top: 0;
  }

  .outer-frame, .inner-frame {
    padding: 5%;
    width: 100%;
  }

  .outer-frame-registration {
    width: 70%;
  }
}

/* Tablette - Portrait (min-width: 900px et max-width: 1199px) */
@media (min-width: 900px) and (max-width: 1199px) {
  .layout {
    flex-direction: row; /* Retour à une mise en page en ligne */
    height: 25vh;
  }

  .main-content {
    margin-left: 25%;
    width: 75%;
  }

  .outer-frame, .inner-frame {
    padding: 3%;
    width: 100%;
  }

  .outer-frame-registration {
    width: 60%;
  }
}

/* Tablette - Paysage (min-width: 1200px et max-width: 1399px) */
@media (min-width: 1200px) and (max-width: 1399px) {
  .layout {
    flex-direction: row; /* Retour à une mise en page en ligne */
  }

  .main-content {
    margin-left: 25%;
    width: 75%;
  }

  .outer-frame, .inner-frame {
    padding: 3%;
    width: 100%;
  }

  .outer-frame-registration {
    width: 50%;
  }
}
