// Importation des variables.
@use 'variables' as *;

/* typography css - base/typography.scss */

/* Personnalisation des titres, paragraphes et éléments de contenus */

// Gestion des titres et des tableaux de la section forum et subject-forum
/*h1*/
h1.forum-title {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-size: $font-size-xxxl;
  text-decoration: underline;
}

/*h4*/
.section-title {
  font-size: $font-size-xl;
  color: $color-neutral-gold;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 2%;
}

/*Tableau*/
.subjects-table {
  width: 80%; /* Rend plus fluide pour s'adapter à l'écran */
  margin-left: 10%;
  border-collapse: collapse;
  border: 1px solid $color-accent-orange;
  text-align: left;
}

.subjects-table th, .subjects-table td, .subjects-table tr {
  padding: 8px;
  font-size: $font-size-xl;
  border-top: 1px solid $color-accent-orange;
  border-bottom: 1px solid $color-accent-orange;
}

// Gestion des titres et paragraphes des pages mentions et politiques. */
.h1-politique {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-size: $font-size-xxxl;
  text-decoration: underline;
  }

.h2-politique {
  font-size: $font-size-xxl;

}



