// Importation des variables.
@use 'variables' as *;

/* typography css - base/typography.scss */

/* Personnalisation des titres, paragraphes et éléments de contenus */

// Gestion des titres et des tableaux de la section forum et subject-forum
/*h1*/
.forum-title {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-size: $font-size-xxxl;
  text-decoration: underline;
  border: 1px solid $color-accent-darkorange;
}

/*h4*/
.section-title {
  font-size: $font-size-xl;
  color: $color-neutral-gold;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 2%;
}

/*Tableau*/
.subjects-table {
  width: 80%; /* Rend plus fluide pour s'adapter à l'écran */
  margin-left: 10%;
  border-collapse: collapse;
  border: 1px solid $color-accent-orange;
  text-align: left;
}

.subjects-table th, .subjects-table td, .subjects-table tr {
  padding: 8px;
  font-size: $font-size-xl;
  border-top: 1px solid $color-accent-orange;
  border-bottom: 1px solid $color-accent-orange;
}

// Gestion des titres et paragraphes des pages mentions et politiques. */
.h1-politique {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-size: $font-size-xxxl;
  text-decoration: underline;
  }

.h2-politique {
  font-size: $font-size-xxl;

}

// Gestion des titres et paragraphes de la page d'accueil.
/* Titre de la partie landing */


/* Titre de la partie produits */
.h1-product, .h2-product, .h3-product, .h4-product, .p-product {
  margin: 1vw 0;
}

/* Titres principaux */
.product-card h2 {
    font-size: $font-size-xxl;
    margin-bottom: 20px;
    text-align: center;
    color: $color-accent-darkorange;
    border-bottom: 2px solid $color-accent-darkorange;
    padding-bottom: 10px;
}

/* Sous-titres */
.product-card h3 {
    font-size: $font-size-xl;
    margin-top: 20px;
    margin-bottom: 15px;
    color: $color-text-product-card-h3;
    border-left: 4px solid $color-accent-darkorange;
    padding-left: 10px;
}

/* Titres mineurs */
.product-card h4 {
    font-size: $font-size-lg;
    margin-bottom: 10px;
    color: $color-lightgrey;
    font-weight: 600;
}

/* Texte */
.product-p {
    font-size: 1rem;
    margin-bottom: 15px;
    color: $color-text-product-p;
    line-height: 1.6;
}
