/* Style concernant les animations du site entreprise SethiarWorks. */

/* Configuration des sprites dans le CSS */
#logo {
    /* Largeur d'une seule frame */
    width: 550px;
    /* Hauteur d'une seule frame */
    height: 569px;
    background-repeat: no-repeat;
    margin: auto;
}
.logo-animation {
    position: relative; /* Pour permettre le positionnement absolu des sprites */
    width: 550px; /* Largeur d'une seule frame */
    height: 569px; /* Hauteur d'une seule frame */
    overflow: hidden; /* Empêche le débordement */
}

/* Base commune pour tous les sprites */
.sprite {
    position: absolute; /* Superpose tous les sprites */
    top: 0;
    left: 0;
    width: 100%; /* S'adapte au conteneur parent */
    height: 100%; /* S'adapte au conteneur parent */
    visibility: hidden; /* Masqué par défaut */
    background-repeat: no-repeat; /* Évite les répétitions d'image */
    animation-fill-mode: forwards; /* S'arrête à la dernière étape */
}

/* Animation pour chaque sprite */
.sprite1 {
    background-image: url('../Images/images_spritesheet/sprite_1.png');
}

.sprite2 {
    background-image: url('../Images/images_spritesheet/sprite_2.png');
}

.sprite3 {
    background-image: url('../Images/images_spritesheet/sprite_3.png');
}

.sprite4 {
    background-image: url('../Images/images_spritesheet/sprite_4.png');
}

.sprite5 {
    background-image: url('../Images/images_spritesheet/sprite_5.png');
}

.sprite6 {
    background-image: url('../Images/images_spritesheet/sprite_6.png');
}

.sprite7 {
    background-image: url('../Images/images_spritesheet/sprite_7.png');
}

.sprite8 {
    background-image: url('../Images/images_spritesheet/sprite_8.png');
}

/* Keyframes pour chaque animation de sprite */
@keyframes animateLogo1 {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -11000px 0;
    }
}

@keyframes animateLogo2 {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -11000px 0;
    }
}

@keyframes animateLogo3 {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -11000px 0;
    }
}

@keyframes animateLogo4 {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -11000px 0;
    }
}

@keyframes animateLogo5 {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -11000px 0;
    }
}

@keyframes animateLogo6 {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -11000px 0;
    }
}

@keyframes animateLogo7 {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -11000px 0;
    }
}

@keyframes animateLogo8 {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -11000px 0;
    }
}