{% extends 'basebak.html.jinja2' %}

{% block head_content %}
    <meta name="description" content="Backend du site de l'entreprise SethiarWorks.">
    <title>{% block title %}Bienvenue sur le backend Arnaud{% endblock %}</title>
{% endblock %}

{% block main_content %}
<div id="logo-container">
    <img src="{{ url_for('static', filename='Images/images_accueil/logo.jpg') }}" alt="Logo de l'entreprise SethiarWorks.">
</div>
<div class="separation-1"></div>
<div>
    <h2 id="title">Bienvenue sur le backend du site de l'entreprise <i><b>SethiarWorks</b></i></h2>
</div>

{% endblock %}