{% extends 'baseform.html.jinja2' %}

{% block head_content %}
<meta name="description" content="Formulaire qui permet à un utilisateur de s'inscrire en tant qu'administrateur.">
<title>{% block title %}Formulaire d'adhésion pour s'inscrire en tant qu'administrateur{% endblock %}</title>
{% endblock %}

{% block body_content %}

<form method="POST" action="{{ url_for('admin.user_admin_recording') }}" class="form-base"
      enctype="multipart/form-data">

    <!-- Image du logo -->
    <div class="imgcontainer-form">
        <img src="{{ url_for('static', filename='Images/images_accueil/logo.jpg') }}" alt="Logo de SethiarWorks"
             class="avatar-form">
    </div>

    <!-- Titre du formulaire -->
    <h3 class="h3-form">Enregistrement Utilisateur Administrateur</h3>

    <!-- Token CSRF pour la sécurité -->
    {{ formuseradmin.csrf_token }}

    <div class="space-form"></div>

    <!-- Conteneur des champs du formulaire -->
    <div class="form-container">

        <!-- Champ pour le pseudo -->
        <div class="form-group">
            {{ formuseradmin.pseudo.label }} {{ formuseradmin.pseudo() }}
            {% if formuseradmin.pseudo.errors %}
            <ul>
                {% for error in formuseradmin.pseudo.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <!-- Champ pour le rôle de l'administrateur -->
            <div class="form-group">
                {{ formuseradmin.role.label }} {{ formuseradmin.role() }}
                {% if formuseradmin.role.errors %}
                <ul>
                    {% for error in formuseradmin.role.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>

        <!-- Champ pour la date de naissance -->
        <div class="form-group">
            {{ formuseradmin.date_naissance.label }} {{ formuseradmin.date_naissance() }}
            {% if formuseradmin.date_naissance.errors %}
            <ul>
                {% for error in formuseradmin.date_naissance.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <!-- Champ pour le mail -->
        <div class="form-group">
            {{ formuseradmin.email.label }} {{ formuseradmin.email() }}
            {% if formuseradmin.email.errors %}
            <ul>
                {% for error in formuseradmin.email.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <!-- Champ pour le mot de passe -->
        <div class="form-group">
            {{ formuseradmin.password.label }} {{ formuseradmin.password() }}
            <span class="toggle-password" onclick="togglePassword('password')" aria-controls="password">
                        <i class="fas fa-eye"></i>
                    </span>
            {% if formuseradmin.password.errors %}
            <ul>
                {% for error in formuseradmin.password.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <!-- Champ pour la vérification du mot de passe -->
        <div class="form-group">
            {{ formuseradmin.password2.label }} {{ formuseradmin.password2() }}
            <span class="toggle-password" onclick="togglePassword('password2')"><i
                    class="fas fa-eye"></i></span>
            {% if formuseradmin.password2.errors %}

            <ul>{% for error in formuseradmin.password2.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <!-- Champ pour la photo de profil -->
        <div class="form-group">
            <ul>
                {{ formuseradmin.profil_photo.label }}
                {{ formuseradmin.profil_photo }}
            </ul>
        </div>
    </div>

    <div class="separation1"></div>

    <!-- Champ pour les boutons du formulaire -->
    <div class="container-btn">
        <button type="submit" class="validated-btn" aria-label="Valider l'inscription">Validation de la
            souscription
        </button>
        <a href="{{ url_for('admin.backend') }}" class="cancelled-btn">Annulation et retour au backend</a>
    </div>
</form>
{% endblock %}