// Importation des variables.
@use '../base/variables' as *;


/* Style pour la carte page d'accueil */
.SethiarCart-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background: linear-gradient(to bottom, #f8f9fa, #e0e0e0);
  border: 1px solid $color-accent-darkorange;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.SethiarCart-pic img {
  width: 50%;
  height: auto;
  border: 4px solid $color-accent-darkorange;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Ajoute un effet au survol */
.SethiarCart-pic img:hover {
  transform: scale(1.1); /* Zoom au survol */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


// Styles pour image du forum

/* Conteneur de l'image du forum */
.forum-image-container {
  display: flex; /* Permet de centrer facilement */
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  margin: 2%; /* Ajoute de l'espace autour du conteneur */
}

/* Styles pour le cadre de l'image */
.image-forum {
  display: inline-block; /* Adapte la taille du conteneur à celle de l'image */
  overflow: hidden; /* Évite que l'image dépasse du cadre si elle est trop grande */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animation fluide pour le zoom et l'ombre */
}

/* Effet au survol */
.image-forum:hover {
  transform: scale(1.1); /* Agrandit légèrement l'image */
}

/* Image à l'intérieur */
.image-forum img {
  margin: 0 auto;
  border-radius: 10px; /* Coins arrondis pour un aspect élégant */
  display: block; /* Supprime les espaces blancs sous l'image */
  max-width: 60%; /* Adapte la taille de l'image */
  height: auto; /* Conserve le ratio de l'image */
}