// Importation de variables.scss
@use '../base/variables' as *;


/* Style de la page calendar.html du blog */

#table-appointment {
  color: $color-neutral-gold;
  width: 90vw;
  padding-left: 5vw;
}

h5 {
  padding-left: 5vw;
  text-decoration: underline;
  font-size: $font-size-xl;
}

th {
  color: $color-accent-darkorange;
}

tr {
  color: $color-secondary;
}

.link {
  color: $color-neutral-gold;
}

.link:hover {
  color: $color-accent-orange;
}

.btn-valide {
  width: 10vw;
  border: 1px solid $color-accent-darkorange;
  background-color: $color-neutral-gold;
}

.btn-valide:hover {
 border: 1px solid $color-neutral-gold;
  background-color: $color-accent-darkorange;
}