{% extends 'baseform.html.jinja2' %}

{% block head_content %}
    <meta name="description" content="Formulaire permettant de demander un chat vidéo avec l'administrateur.">
    <title>{% block title %}Formulaire de demande de chat avec <b>Titi Technique</b>>.{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    {% endblock %}

{% block body_content %}
    <header>
        <div id="introduction">
            <h2>Informations concernant la demande de chat vidéo.</h2>
            <p>Coucou !!</p>
            <p>Si vous souhaitez vous entretenir avec TitiTechnique directement en chat vidéo, vous
            pouvez remplir ce formulaire. Votre demande sera traitée dans les plus brefs délais,
            et nous ferons tout notre possible pour vous aider.</p>
            <p>Afin de vous faciliter la démarche, nous vous proposons de faire ainsi :</p>
            <ul>
                <li>
                    1 - Vous devez préciser une date (Ex : le 15 février)
                    et l'heure à laquelle vous serez disponible.
                </li>
                <li>
                    2 - Après l'envoi de la demande de chat vidéo, vous recevrez un mail vous avertissant que
                    la demande a bien été effectuée et qu'elle est prise en charge.
                </li>
                <li>
                    3 - Suite aux informations données, Tititechnique validera le rendez-vous ou vous proposera
                    de renouveler votre demande s'il ne peut se rendre disponible à l'heure choisie.
                </li>
            </ul>
        </div>
    </header>

    <form method="POST" action="{{ url_for('chat.send_request', user_id=current_user.id) }}" enctype="multipart/form-data">
    <div class="imgcontainer">
        <img src="{{ url_for('static', filename='Images/images_chat/avatar.png') }}" alt="Avatar" class="avatar">
    </div>
    <h3>Demande de chat vidéo</h3>
    {{ formrequest.csrf_token }}
    <div class="container">
        {{ formrequest.pseudo.label }}
        {{ formrequest.pseudo(class="form-control", readonly=True) }}
        {% if formrequest.pseudo.errors %}
        <ul>
            {% for error in formrequest.pseudo.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <br><br>
        {{ formrequest.request_content.label }} {{ formrequest.request_content(rows=20, cols=20) }}
        {% if formrequest.request_content.errors %}
        <ul>
            {% for error in formrequest.request_content.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <br><br>
        {{ formrequest.date_rdv.label }} {{ formrequest.date_rdv() }}
        {% if formrequest.date_rdv.errors %}
        <ul>
            {% for error in formrequest.date_rdv.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <br><br>
        {{ formrequest.heure.label }}
        {{ formrequest.heure() }}
        {% if formrequest.heure.errors %}
        <ul>
            {% for error in formrequest.periode.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <ul>
            {{ formrequest.attachment.label }} {{ formrequest.attachment() }}
        </ul>
        <br><br>
    </div>
    <div class="separation"></div>
    <div class="container" style="background-color:black">
        <button type="submit" class="validatedbtn" style="font-weight: normal;">Validation de la demande</button>
        <button type="button" class="cancelledbtn">
            <a href="{{ url_for('landing_page') }}" style="font-weight: normal;">Annulation de la demande et retour à l'accueil</a>
        </button>
    </div>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        flatpickr("input[type='time']", {
            enableTime: true,
            noCalendar: true,
            dateFormat: "H:i",
            time_24hr: true
        });
    });
</script>

{% endblock %}
