{% extends 'base.html.jinja2' %}

{% block head_content %}
    <meta name="description" content="Site de l'entreprise SethiarWorks d'Arnaud Lefetey.">
    <title>{% block title %}Bienvenue sur SethiarWorks{% endblock %}</title>
{% endblock %}

{% block header_content %}
{% endblock %}

{% block main_content %}

<div class="separation1"></div>
<div class="title-container">
    <h2>Bienvenue sur le site de l'entreprise <i><b>SethiarWorks</b></i></h2>
</div>
<section class="content-section">
    <p class="intro">
        Bonjour, vous voici sur le site de l'entreprise SethiarWorks.
    </p>
    <p class="intro">
        Je m'appelle Arnaud Lefetey et je suis Concepteur Développeur de solutions digitales.
    </p>
    <div class="space"></div>
    <p class="intro">
        Notre entreprise crée des solutions numériques sur mesure, adaptées à vos besoins.
    </p>
    <div class="space"></div>
    <p class="intro">
        Notre objectif est de vous accompagner dans la réalisation de vos projets web.

    </p>
    <p class="intro">
        Cela permet de continuellement perfectionner les compétences de l'équipe de développement à travers
        les multiples attentes de notre clientèle dans la création et le développement de votre projet.
    </p>
    <div class="space"></div>
    <p class="intro">
        Répondre à vos attentes est notre priorité.
    </p>
    <div class="space"></div>
    <p class="intro">
        Chaque retour de nos clients nous permet d'affiner notre approche afin de
        vous offrir des solutions toujours plus adaptées.
    </p>
    <div class="space"></div>
    <p class="intro">
        Chaque client est différent, ce qui fait que chaque projet possède une unicité et une originalité que nous
        chercherons à personnaliser au sein d'une réalisation.
    </p>
    <p class="intro">
        Cela marquera non seulement notre manière de coder, mais surtout,
        sera le reflet du besoin de ce que <b>vous</b>, en tant que client, voulez mettre en avant.
    </p>
</section>
<div class="space"></div>
<div class="slogan-container">
    <p class="slogan-text">
        Confiez-nous votre imagination, ensemble, nous la concrétiserons.
    </p>
</div>
<div class="space"></div>
<div class="register">
    <p class="registration-sentence">
        Inscrivez-vous dès maintenant pour obtenir des informations, laisser un commentaire ou planifier un chat vidéo avec notre équipe.
    </p>
    <p class="registration-sentence">
        Ensemble, nous discuterons de vos besoins et nous vous proposerons un devis adapté à votre projet.
    </p>
    <a class="registration" href="{{ url_for('user.user_registration') }}">Inscrivez-vous ici !!!</a>
</div>
<br>
<div class="separation1"></div>

{% endblock %}