<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Preload Fonts -->
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" as="style">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet">

    <!-- CSS Principal -->
    <link rel="stylesheet" href="{{ url_for('static', filename='gen/style.css') }}?v=1.0">

    <!-- Intégration de swiper.js pour carrousel -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    {% block head_content %}
    {% endblock %}
</head>

<body>
<div class="layout">
    <!-- Header -->
    <header class="header">
        <div class="nav-container">
            <!-- Menu principal -->
            <nav class="nav-links" aria-label="Navigation principale">
                <ul>
                    <li><a href="{{ url_for('landing_page') }}">Accueil</a></li>
                    <li><a href="#products">Produits</a></li>
                    <li><a href="{{ url_for('chat.chat_request') }}">Chat Vidéo</a></li>
                    <li><a href="https://www.sethiar-lefetey.com" target="_blank">Portfolio</a></li>
                    <li><a href="{{ url_for('frontend.forum') }}">Forum</a></li>
                    <li><a href="{{ url_for('functional.contact') }}">Contact</a></li>
                    <li><a href="{{ url_for('user.user_registration') }}">S'inscrire</a></li>
                </ul>
            </nav>
        </div>
        <!-- Menu hamburger pour mobile -->
        <button class="hamburger" aria-label="Ouvrir le menu">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </button>
        <div class="space"></div>

        <!-- Actions utilisateur -->
        <div class="actions">
            {% if logged_in %}
            <div class="logged">
                <p>Bienvenue, {{ pseudo }} !</p>
            </div>
            {% endif %}
            <div class="buttons">
                {% if logged_in %}
                <a href="{{ url_for('auth.user_logout') }}" class="btn-primary">Se déconnecter</a>
                {% else %}
                <a href="{{ url_for('auth.login') }}" class="btn-primary">Se connecter</a>
                {% endif %}
                <a href="{{ url_for('user.user_devis') }}" class="btn-primary">Demander un devis</a>
            </div>
        </div>

    </header>

    {% block header_content %}
    {% endblock %}
</div>

<!-- Contenu principal -->
<main>
    {% block main_content %}
    {% endblock %}
</main>

<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <section class="footer-section">
                <h3>Informations</h3>
                <ul>
                    <li>Email : <a href="mailto:sethiarworks@gmail.com">sethiarworks@gmail.com</a></li>
                    <li>Adresse : Caen, Normandie, France</li>
                    <li><a href="{{ url_for('functional.informations') }}">Informations sur le créateur du site</a></li>
                </ul>
            </section>
            <section class="footer-section">
                <h3>Mentions Légales</h3>
                <ul>
                    <li><a href="{{ url_for('functional.politique') }}">Politique de confidentialité</a></li>
                    <li><a href="{{ url_for('functional.mentions') }}">Mentions Légales</a></li>
                </ul>
            </section>
            <section class="footer-section">
                <h3>Réseaux Sociaux</h3>
                <ul>
                    <li><a href="https://www.facebook.com/profile.php?id=100095257672419" target="_blank"><i
                            class="fab fa-facebook"></i> Facebook</a></li>
                    <li><a href="https://www.instagram.com/lefeteya/" target="_blank"><i class="fab fa-instagram"></i>
                        Instagram</a></li>
                    <li><a href="https://www.linkedin.com/in/arnaud-lefetey-aa8193267/" target="_blank"><i
                            class="fab fa-linkedin"></i> Linkedin</a></li>
                </ul>
            </section>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 SethiarWorks. Tous droits réservés.</p>
        </div>
    </div>
</footer>

<script>
  // Sélectionner le bouton hamburger et le conteneur du menu
  const hamburger = document.querySelector('.hamburger');
  const navContainer = document.querySelector('.nav-container');

  // Ajouter un événement pour activer/désactiver le menu
  hamburger.addEventListener('click', () => {
    navContainer.classList.toggle('active');  // Affiche ou cache le menu
    hamburger.classList.toggle('active');     // Change l'état du bouton hamburger
  });
</script>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" defer></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" defer></script>
<script src="{{ url_for('static', filename='Javascript/menu_portable.js') }}" defer></script>
<script src="{{ url_for('static', filename='Javascript/accueil.js') }}" defer></script>
<script src="{{ url_for('static', filename='Javascript/animations.js') }}" defer></script>
<script src="{{ url_for('static', filename='Javascript/carrousel.js') }}" defer></script>

{% block footer_content %}
{% endblock %}
</body>
</html>