<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/CSS" href="{{ url_for('static', filename='CSS/accueil.css') }}">
    <link rel="stylesheet" type="text/CSS" href="{{ url_for('static', filename='CSS/header.css') }}">
    <link rel="stylesheet" type="text/CSS" href="{{ url_for('static', filename='CSS/footer.css') }}">
    <link rel="stylesheet" type="text/CSS" href="{{ url_for('static', filename='CSS/animation.css') }}">
    <link rel="stylesheet" type="text/CSS" href="{{ url_for('static', filename='CSS/comment.css' ) }}">

    {% block head_content %}
    {% endblock %}
</head>

<body>
    <header>
    <div id="navbar">
        <nav>
            <ul class="nav-links">
                <li><a href="{{ url_for('frontend.forum') }}">Accès au forum</a></li>
                <li><a href="{{ url_for('chat.chat_request') }}">Demande de Chat vidéo</a></li>
                <li><a href="www.sethiar-lefetey.fr">Portfolio</a></li>
                <li><a href="">Voir les projets</a></li>
                <li><a href="">Voir les produits</a></li>
            </ul>
            <div id="connection">
                {% if logged_in %}
                <p>Bienvenue, {{ pseudo }} ! Vous êtes connecté !!</p>
                <p><button><a href="{{ url_for('auth.user_logout') }}">Se déconnecter</a></button></p>
            <!-- Afficher d'autres contenus de la page pour les utilisateurs connectés -->
                {% else %}
                <p>Pour se connecter.</p>
                <button><a href="{{ url_for('auth.login') }}">Cliquer ici</a></button>
                {% endif %}
            </div>
            <div class="hamburger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </nav>
    </div>
    <div class="separation-2"></div>

        {% block header_content %}
        {% endblock %}
    </header>
    <main>

        {% block main_content %}
        {% endblock %}
    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer-content row">
                <div class="footer-section col-md-3">
                    <h3>Informations</h3>
                    <li><p>Email : <a href="mailto:sethiarworks@gmail.com">sethiarworks@gmail.com</a></p></li>
                    <li><p>Adresse, Caen, Normandie, France</p></li>
                    <li><p><a href="">Informations sur le créateur du site</a></p></li>
                </div>
                <div class="footer-section col-md-3">
                    <h3>Mentions Légales</h3>
                    <ul>
                        <li><a href="{{ url_for('functional.politique') }}">Politique de confidentialité</a></li>
                        <li><a href="{{ url_for('functional.mentions') }}">Mentions Légales</a></li>
                    </ul>
                </div>
                <div class="footer-section col-md-3">
                    <h3>Réseaux Sociaux</h3>
                    <ul>
                        <li><a href="https://www.facebook.com/profile.php?id=100095257672419" target="_blank"><i class="fab fa-facebook"></i> Facebook</a></li>
                        <li><a href="https://www.instagram.com/lefeteya/" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
                        <li><a href="https://www.linkedin.com/in/arnaud-lefetey-aa8193267/" target="_blank"><i class="fab fa-linkedin"></i> Linkedin</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="separation2"></div>
        <div class="footer-bottom">
            <p>&copy; 2024 SethiarWorks. Tous droits réservés.</p>
            <a href="{{ url_for('auth.admin_connection') }}">S'identifier en tant qu'administrateur</a>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" defer></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" defer></script>
    <script src="{{ url_for('static', filename='javascript/menu_portable.js') }}" defer></script>

     {% block footer_content %}
     {% endblock %}

</body>
</html>