{% extends 'base2.html.jinja2' %}

{% block main_content %}

<h1>Politique de Confidentialité</h1>
<br>
<p>Dernière mise à jour : 1 octobre 2024</p>
<a href="{{ url_for('landing_page') }}">Retour à l'accueil</a>

<div class="separation">

</div>
<br>
<div id="container_politique">
    <div id="politique">
        <p class="intro">Bienvenue sur notre site de l'entreprise <b>SethiarWorks</b>. Nous nous engageons à protéger votre vie privée et à respecter vos droits en matière de confidentialité.
            Cette politique de confidentialité explique comment nous collectons, utilisons et protégeons vos informations personnelles lorsque vous utilisez notre site web.</p>
    </div>
    <br>
    <div>
        <h2>1. Informations que nous Collectons</h2>
        <br>
        <p>Nous pouvons collecter les types d'informations suivants lorsque vous utilisez notre site :</p>
        <p>Informations d'identification personnelle : adresse email, pseudo.</p>
        <p>Informations non personnelles : adresse IP, type de navigateur,
            informations de navigation, informations collectées via les cookies et autres technologies similaires.</p>
        <p>Nous ne collectons aucune information bancaire ou financière.</p>
    </div>
    <br>
    <div>
        <h2>2. Utilisation des Informations</h2>
        <br>
        <p>Nous utilisons les informations que nous collectons pour :</p>
        <ul>
            <li>Fournir et gérer nos services.</li>
            <li>Améliorer l'expérience utilisateur sur notre site.</li>
            <li>Communiquer avec vous, y compris pour répondre à vos demandes de support.</li>
            <li>Envoyer des newsletters, mises à jour et autres communications promotionnelles (avec votre consentement).</li>
            <li>Analyser l'utilisation de notre site pour améliorer nos services et contenus.</li>
        </ul>
    </div>
    <br>
    <div>
        <h2>3. Gestion des identifiants</h2>
        <p>Les identifiants (pseudo et mot de passe) sont stockés de manière sécurisée en utilisant des techniques de hachage
            et de salage afin de protéger vos informations.</p>
    </div>
    <br>
    <div>
        <h2>4. Partage des Informations</h2>
        <br>
        <p><b>Nous ne vendons, n'échangeons ni ne louons vos informations personnelles à des tiers. Nous pouvons partager vos informations avec :</b></p>
        <p>Fournisseurs de services : Tiers qui fournissent des services en notre nom, comme l'hébergement web, l'analyse des données et l'assistance client.</p>
        <p>Obligations légales : Si nous sommes tenus de divulguer vos informations pour nous conformer à la loi ou répondre à une procédure judiciaire.</p>
    </div>
    <br>
    <div>
        <h2>5. Cookies et Technologies Similaires</h2>
        <br>
        <p class="first">Nous utilisons des cookies et des technologies similaires pour :</p>
        <ul>
            <li>Mémoriser vos préférences et paramètres afin de maintenir votre connexion à notre site.</li>
            <li>Comprendre et analyser l'utilisation de notre site.</li>
            <li>Améliorer nos services et votre expérience utilisateur.</li>
        </ul>
        <p class="first">Vous pouvez configurer votre navigateur pour refuser les cookies, mais cela pourrait limiter certaines fonctionnalités de notre site.</p>
    </div>
    <br>
    <div>
        <h2>6. Sécurité des Informations</h2>
        <br>
        <p class="first">Nous mettons en œuvre des mesures de sécurité appropriées pour protéger vos informations contre tout accès non autorisé,
            modification, divulgation ou destruction. Cependant, aucune méthode de transmission sur Internet ou de stockage électronique n'est totalement sécurisée,
            et nous ne pouvons garantir une sécurité absolue.</p>
    </div>
    <br>
    <div>
        <h2>7. Vos Droits</h2>
        <br>
        <p>Vous avez le droit de :</p>
        <ul>
            <li>Accéder à vos informations personnelles que nous détenons.</li>
            <li>Demander la correction de toute information inexacte.</li>
            <li>Demander la suppression de vos informations personnelles (sous réserve de certaines exceptions légales).</li>
            <li>Pour exercer ces droits, veuillez nous contacter à l'adresse e-mail fournie ci-dessous. </li>
        </ul>
    </div>
    <br>
    <div>
        <h2>8. Modifications de cette Politique</h2>
        <br>
        <p class="first">Nous pouvons mettre à jour cette politique de confidentialité de temps en temps
            pour refléter les changements apportés à nos pratiques de traitement des informations.
            Nous vous informerons de tout changement important en publiant la nouvelle politique sur notre site avec une date de mise à jour révisée.</p>
    </div>
    <br>
    <div>
        <h2>9. Nous Contacter</h2>
        <br>
        <p class="first">Si vous avez des questions ou des préoccupations concernant cette politique de confidentialité
            ou nos pratiques en matière de protection des données, veuillez nous contacter à :</p>
        <a href="mailto:sethiarworks@gmail.com">sethiarworks@gmail.com</a>
    </div>
    <br>
    <div class="separation">

    </div>
    <br>
    <div>
        <p>Nous vous remercions d'utiliser notre site et de nous faire confiance concernant la protection de votre vie privée.</p>
    </div>
    <br>
</div>

{% endblock %}
{% block footer_content %}
{% endblock %}