{% extends 'base2.html.jinja2' %}

{% block head_content %}
    <meta name="description" content="Page renseignant l'état de bannissement d'un utilisateur.">
    <title>{% block title %}Bannissement de {{ user.pseudo }}{% endblock %}</title>
{% endblock %}

{% block main_content %}

<h2 class="ban-title">Bonjour, nous sommes au regret de vous annoncer que vous, {{ user.pseudo }}, avez été banni jusqu'au {{ user.date_ban_end }}</h2>
<br>
<p>Date du bannissement : {{ user.date_banned }}</p>
<div class="separation">

</div>
<br>
<div class="container_politique">
    <div class="politique">
        <p class="intro">Conformément aux dispositions des règles établies par l'administrateur de ce blog,
            tout manquement aux devoirs d'un utilisateur entraînera une période de bannissement de 7 jours.</p>
        <p>La connexion et la navigation sur le site www.sethiarworks.fr par l’utilisateur se limitera à la lecture, mais
        il ne sera plus en mesure de laisser des commentaires ou de se connecter.</p>
    </div>
    <br>
    <h3>1. Informations sur le bannissement.</h3>
    <p>Pour toute réclamation concernant cette décision, nous vous invitons à nous écrire à l'adresse suivante :</p>
    <ul>
        <li>E-mail : <a href="mailto:sethiarworks@gmail.com">sethiarworks@gmail.com</a></li>
    </ul>
    <p>Après un délai de sept jours, l'utilisateur pourra se connecter de nouveau et laisser des commentaires.</p>
    <p><b>Cependant, si un deuxième bannissement devait être établi, l'utilisateur se verrait définitivement fermer l'accès au site de l'entreprise SethiarWorks.</b></p>
    <p>Cordialement, l'équipe du site de l'entreprise SethiarWorks.</p>
    <br>
</div>

{% endblock %}
{% block footer_content %}
{% endblock %}
