{% extends 'baseform.html.jinja2' %}

{% block head_content %}
    <meta name="description" content="Connexion utilisateur au site de l'entreprise SethiarWorks">
    <title>{% block title %}Authentification Utilisateur{% endblock %}</title>
{% endblock %}

{% block header_content %}
{% endblock %}

{% block body_content %}
    <form method="POST" action="{{ url_for('auth.login_user', next_url=next_url) }}">
        <div class="imgcontainer">
            <img src="../static/Images/images_formulaires/connexion1.jpg" alt="Avatar" class="avatar">
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'login' %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
        <h3>Authentification Utilisateur</h3>
        {{ form_loginuser.csrf_token }}
        <div class="container">
            {{ form_loginuser.pseudo.label }} {{ form_loginuser.pseudo() }}
            <div class="password-container">
                <div class="space"></div>
                {{ form_loginuser.password.label }} {{ form_loginuser.password() }}
                <span class="toggle-password" onclick="togglePassword('password')"><i class="fas fa-eye"></i></span>
            </div>
        </div>
        <div id="forgot-password">
            <a href="{{ url_for('auth.password_reset') }}">Mot de passe oublié</a>
        </div>
        <div class="space"></div>
        <div class="separation"></div>
        <div class="container" style="background-color:black">
            <button type="submit" class="validatedbtn" style="font-weight: normal;">Connexion au compte utilisateur</button>
            <button type="button" class="cancelledbtn"><a href="{{ url_for('landing_page') }}" style="font-weight: normal;">Annulation de l'authentification utilisateur</a></button>
        </div>
    </form>
{% endblock %}

{% block footer_content %}
{% endblock %}